<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="harsh"></div>
<h6 id="0"></h6>
<p id="1"></p>
<p id="2"></p>
<p id="3"></p>
<p id="4"></p>
<p id="5"></p>

<script>
    function f() {
        $.getJSON('/top', function (data) {

            for (var i = 0; i < 20; i++) {
                document.getElementById('0').innerHTML = data[0]['articles'][i]['title'];

            }
        });

    }

</script>

</body>
<Button onClick="f()">Click</Button>
</html>