<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="../static/css/style.css">
    <title>India News</title>
  </head>
  <body>

       

      <div id="upper_layout">
            <div class="dropdown">
                <button class="fa fa-bars" id="dropbtn"> Sections</button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
              </div>
           </div> 
           <div class="searchbar">
                <input type="text" id="entry">
                <button id="search_button"><i class="fa fa-search"style="height: 20px;"></i>
                
               
           </div>  
          <p id="heading">INDIA NEWS</p>
          <ul id="nav">
              <li><a href="default.asp">Home</a></li>
              <li><a href="news.asp">News</a></li>
              <li><a href="contact.asp">Contact</a></li>
              <li><a href="about.asp">About</a></li>
          </ul>
      </div>  




      <div id="middle_layer">

          <div id="first">
            <div id="first_first" >
              <img id="trending_image"src="../static/images/trending.JPG" height="300px" width="310px">
              <h6 id="trending_text">IPL 2018 Live Score Cricket, RR vs DD: Vijay Shankar Runs Out Short</h6>
              <div id="image_data">harsh</div>
              

            </div>
            <div id="top_2">
                  <div id="top_21"></div>
                  <div id="top_22"></div>
              </div>

            <div id="first_second" >
                <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                California joins Guard border mission, shuns Trump’s message
                </h6></a>

                <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                BJP MLA Kuldeep Sengar booked in Unnao rape case, probe transferred to CBI
                </h6></a>

                <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                PNB says internal probe into $2 billion fraud ongoing; more heads could roll
                </h6></a>

                <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                ISRO successfully launches IRNSS-1I navigation satellite
                </h6></a>

                <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Rohingya terror suspect reveals al-Qaeda's India plan
                </h6></a>

                <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Chief Justice of India has exclusive prerogative to allocate cases, rules CJI-led bench
                </h6></a>
                <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Mehbooba Mufti meets PM Modi over Kathua gangrape, expresses displeasure over probe
                </h6></a>
                <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    
                BJP supporters burn Vaiko's effigy in Coimbatore for calling PM Modi a coward
                </h6></a>
                <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Enforcement Directorate grills Delhi health minister Satyendra Jain in money laundering case
                </h6></a>
                <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    How Mark Zuckerberg and Arvind Kejriwal share a trait
                </h6></a>

                <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    New helipad for PM Modi in IIT Chennai an environmental concern
                </h6></a>
                
                

            </div>  

            
                <!-- <div id="aside_bar">
                    
                    <div id="block_aside"><a href="#" id="side_links">Trending 20</a><br></div>
                    <div id="block_aside">
                    <a href="#" id="side_links">Finance</a><br>
                    </div>
                    <div id="block_aside">
                    <a href="#" id="side_links">Politics</a><br></div>
                    <div id="block_aside">
                    <a href="#" id="side_links">Technology</a><br></div>
                    <div id="block_aside">
                    <a href="#" id="side_links">Business</a><br></div>
                    <div id="block_aside">
                    <a href="#" id="side_links">Science</a><br>
                    </div>
                    <div id="block_aside">
                    <a href="#" id="side_links">Education</a><br></div>
                    <div id="block_aside">
                    <a href="#" id="side_links">Local</a><br>
                    </div>
                    <div id="block_aside">
                    <a href="#" id="side_links">International</a><br></div>
                    <div id="block_aside">
                    <a href="#" id="side_links">U.S.</a><br>
                    </div>
                    <div id="block_aside">
                    <a href="#" id="side_links">Sports</a><br>
                    </div>
                    <div id="block_aside">
                    <a href="#" id="side_links">Jobs</a><br>
                    </div>
                    <div id="block_aside">
                    <a href="#" id="side_links">Entertainment</a><br></div>
                    <div id="block_aside">
                    <a href="#" id="side_links">Lifestyle</a><br></div>
                    <div id="block_aside">
                    <a href="#" id="side_links">Weather</a><br>
                    </div>
                    <div id="block_aside">
                    <a href="#" id="side_links">Travel</a><br>
                    </div>
                </div> -->
          </div>  
          
          <div id="blocks">
              
              <div id="Politics" class="block_trending">
                 <p id="head_tag">Politics</p>
                 <div class="margins">


                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Paul Ryan Upends Republican Hopes and Plans for Midterm Elections
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Ryan Found Himself on the Margins as the G.O.P. Moved Right
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Raids on Trump’s Lawyer Sought Records of Payments to Women
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Trump Weighs More Robust Military Strike Against Syria
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Missiles ‘Will Be Coming’ at Syria, Trump Says. Beyond That Lies Uncertainty.
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Investigators Focus on Another Trump Ally: The National Enquirer
                    </h6></a>
                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Trump’s Tweets on Syria, Russia and China: The Triumph of Contradiction
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        In a Syrian Town, People Started Shouting: ‘Chemicals! Chemicals!’
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Zuckerberg Faces Tough Questions From the House
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        How Mark Zuckerberg and Arvind Kejriwal share a trait
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Economists Say U.S. Tariffs Are Wrong Move on a Valid Issue
                    </h6></a> 
                    </div>
                </div>
              
               <div id="Finance" class="block_trending">
                <p id="head_tag">Finance</p>
                 <div class="margins">
              
                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Paul Ryan Upends Republican Hopes and Plans for Midterm Elections
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Ryan Found Himself on the Margins as the G.O.P. Moved Right
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Raids on Trump’s Lawyer Sought Records of Payments to Women
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Trump Weighs More Robust Military Strike Against Syria
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Missiles ‘Will Be Coming’ at Syria, Trump Says. Beyond That Lies Uncertainty.
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Investigators Focus on Another Trump Ally: The National Enquirer
                    </h6></a>
                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Trump’s Tweets on Syria, Russia and China: The Triumph of Contradiction
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        In a Syrian Town, People Started Shouting: ‘Chemicals! Chemicals!’
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Zuckerberg Faces Tough Questions From the House
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        How Mark Zuckerberg and Arvind Kejriwal share a trait
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Economists Say U.S. Tariffs Are Wrong Move on a Valid Issue
                    </h6></a> 

                    </div>

              </div>
              
              <div id="Sports" class="block_trending">
              <p id="head_tag">International</p>
                 <div class="margins">

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Paul Ryan Upends Republican Hopes and Plans for Midterm Elections
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Ryan Found Himself on the Margins as the G.O.P. Moved Right
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Raids on Trump’s Lawyer Sought Records of Payments to Women
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Trump Weighs More Robust Military Strike Against Syria
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Missiles ‘Will Be Coming’ at Syria, Trump Says. Beyond That Lies Uncertainty.
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Investigators Focus on Another Trump Ally: The National Enquirer
                    </h6></a>
                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Trump’s Tweets on Syria, Russia and China: The Triumph of Contradiction
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        In a Syrian Town, People Started Shouting: ‘Chemicals! Chemicals!’
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Zuckerberg Faces Tough Questions From the House
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        How Mark Zuckerberg and Arvind Kejriwal share a trait
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Economists Say U.S. Tariffs Are Wrong Move on a Valid Issue
                    </h6></a> 
                    </div>
              </div>
              
              <div id="Business" class="block_trending">
              <p id="head_tag">Sports</p>
                 <div class="margins">

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Paul Ryan Upends Republican Hopes and Plans for Midterm Elections
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Ryan Found Himself on the Margins as the G.O.P. Moved Right
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Raids on Trump’s Lawyer Sought Records of Payments to Women
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Trump Weighs More Robust Military Strike Against Syria
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Missiles ‘Will Be Coming’ at Syria, Trump Says. Beyond That Lies Uncertainty.
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Investigators Focus on Another Trump Ally: The National Enquirer
                    </h6></a>
                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Trump’s Tweets on Syria, Russia and China: The Triumph of Contradiction
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        In a Syrian Town, People Started Shouting: ‘Chemicals! Chemicals!’
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Zuckerberg Faces Tough Questions From the House
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        How Mark Zuckerberg and Arvind Kejriwal share a trait
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Economists Say U.S. Tariffs Are Wrong Move on a Valid Issue
                    </h6></a> 
                    </div>
              </div>
              
               <div id="Entertainment" class="block_trending">
               <p id="head_tag">Entertainment</p>
                 <div class="margins">

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Paul Ryan Upends Republican Hopes and Plans for Midterm Elections
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Ryan Found Himself on the Margins as the G.O.P. Moved Right
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Raids on Trump’s Lawyer Sought Records of Payments to Women
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Trump Weighs More Robust Military Strike Against Syria
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Missiles ‘Will Be Coming’ at Syria, Trump Says. Beyond That Lies Uncertainty.
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Investigators Focus on Another Trump Ally: The National Enquirer
                    </h6></a>
                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Trump’s Tweets on Syria, Russia and China: The Triumph of Contradiction
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        In a Syrian Town, People Started Shouting: ‘Chemicals! Chemicals!’
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Zuckerberg Faces Tough Questions From the House
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        How Mark Zuckerberg and Arvind Kejriwal share a trait
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Economists Say U.S. Tariffs Are Wrong Move on a Valid Issue
                    </h6></a> 
                </div>
              </div>
              
               <div id="International" class="block_trending">
               <p id="head_tag">Business</p>
                 <div class="margins">
                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Paul Ryan Upends Republican Hopes and Plans for Midterm Elections
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Ryan Found Himself on the Margins as the G.O.P. Moved Right
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Raids on Trump’s Lawyer Sought Records of Payments to Women
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Trump Weighs More Robust Military Strike Against Syria
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Missiles ‘Will Be Coming’ at Syria, Trump Says. Beyond That Lies Uncertainty.
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Investigators Focus on Another Trump Ally: The National Enquirer
                    </h6></a>
                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Trump’s Tweets on Syria, Russia and China: The Triumph of Contradiction
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        In a Syrian Town, People Started Shouting: ‘Chemicals! Chemicals!’
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Zuckerberg Faces Tough Questions From the House
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        How Mark Zuckerberg and Arvind Kejriwal share a trait
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Economists Say U.S. Tariffs Are Wrong Move on a Valid Issue
                    </h6></a> 
                    </div>
              </div>
              
              <div id="abc" class="block_trending">
              <p id="head_tag">Technology</p>
                 <div class="margins">
                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Paul Ryan Upends Republican Hopes and Plans for Midterm Elections
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Ryan Found Himself on the Margins as the G.O.P. Moved Right
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Raids on Trump’s Lawyer Sought Records of Payments to Women
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Trump Weighs More Robust Military Strike Against Syria
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Missiles ‘Will Be Coming’ at Syria, Trump Says. Beyond That Lies Uncertainty.
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Investigators Focus on Another Trump Ally: The National Enquirer
                    </h6></a>
                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Trump’s Tweets on Syria, Russia and China: The Triumph of Contradiction
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        In a Syrian Town, People Started Shouting: ‘Chemicals! Chemicals!’
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Zuckerberg Faces Tough Questions From the House
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        How Mark Zuckerberg and Arvind Kejriwal share a trait
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Economists Say U.S. Tariffs Are Wrong Move on a Valid Issue
                    </h6></a> 
                    </div>
              </div>
              
               <div id="def" class="block_trending">
               <p id="head_tag">Education</p>
                 <div class="margins">

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Paul Ryan Upends Republican Hopes and Plans for Midterm Elections
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Ryan Found Himself on the Margins as the G.O.P. Moved Right
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Raids on Trump’s Lawyer Sought Records of Payments to Women
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                    Trump Weighs More Robust Military Strike Against Syria
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Missiles ‘Will Be Coming’ at Syria, Trump Says. Beyond That Lies Uncertainty.
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Investigators Focus on Another Trump Ally: The National Enquirer
                    </h6></a>
                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Trump’s Tweets on Syria, Russia and China: The Triumph of Contradiction
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        In a Syrian Town, People Started Shouting: ‘Chemicals! Chemicals!’
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Zuckerberg Faces Tough Questions From the House
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        How Mark Zuckerberg and Arvind Kejriwal share a trait
                    </h6></a>

                    <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="p1">
                        Economists Say U.S. Tariffs Are Wrong Move on a Valid Issue
                    </h6></a> 
                  </div>
              </div>
    
           </div>

      </div>


  </body>
</html>