<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title></title>
</head>
<body>

<!-- <a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 id="top_p0">
</h6></a>
<a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><p class="p1" id="top_p1">

</p></a>

<a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 class="p1" id="top_p2">
PNB says internal probe into $2 billion fraud ongoing; more heads could roll
</h6></a>

<a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 class="p1" id="top_p3">
ISRO successfully launches IRNSS-1I navigation satellite
</h6></a>

<a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 class="p1" id="top_p4">
    Rohingya terror suspect reveals al-Qaeda's India plan
</h6></a>

<a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 class="p1" id="top_p5">
    Chief Justice of India has exclusive prerogative to allocate cases, rules CJI-led bench
</h6></a>
<a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 class="p1" id="top_p6">
    Mehbooba Mufti meets PM Modi over Kathua gangrape, expresses displeasure over probe
</h6></a>
<a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 class="p1" id="top_p7">

BJP supporters burn Vaiko's effigy in Coimbatore for calling PM Modi a coward
</h6></a>
<a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 class="p1" id="top_p8">
    Enforcement Directorate grills Delhi health minister Satyendra Jain in money laundering case
</h6></a>
<a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 class="p1" id="top_p9">
    How Mark Zuckerberg and Arvind Kejriwal share a trait
</h6></a>

<a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 class="p1" id="top_p10">
    New helipad for PM Modi in IIT Chennai an environmental concern
</h6></a>

<a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 class="p1" id="top_p11">
    Hasin Jahan demands Rs 10 lakh a month as maintenance from Mohammad Shami
</h6></a>
<a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 class="p1" id="top_p12">
    CWG 2018: Kidambi Srikanth, Saina Nehwal headline India’s first badminton mixed team gold
</h6></a>
<a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 class="p1" id="top_p13">
    Bharti Singh: Kapil Sharma is my guru and it makes me cry to see him in such a state
</h6></a>
<a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 class="p1" id="top_p13">
    Bharti Singh: Kapil Sharma is my guru and it makes me cry to see him in such a state
</h6></a>
<a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 class="p1" id="top_p13">
    Bharti Singh: Kapil Sharma is my guru and it makes me cry to see him in such a state
</h6></a>
<a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 class="p1" id="top_p13">
    Bharti Singh: Kapil Sharma is my guru and it makes me cry to see him in such a state
</h6></a>
<a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 class="p1" id="top_p13">
    Bharti Singh: Kapil Sharma is my guru and it makes me cry to see him in such a state
</h6></a>
<a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 class="p1" id="top_p13">
    Bharti Singh: Kapil Sharma is my guru and it makes me cry to see him in such a state
</h6></a>
<a href="https://www.indiatoday.in/world/story/california-joins-guard-border-mission-shuns-trump-s-message-1210265-2018-04-12" target="_blank"><h6 class="p1" id="top_p13">
    Bharti Singh: Kapil Sharma is my guru and it makes me cry to see him in such a state
</h6></a> -->

<p id="top"></p>


<script>
//    setInterval(test,500);
//    function test() {
//        $.get("http://localhost:62286/save",{}, function (json_data) {
//                    alert(json_data);
////        document.getElementById('harsh').innerHTML=JSON.stringify(json_data);
//                }
//        );
//    }

    setInterval(refreshing,120);
    function refreshing() {
//        console.log('harsh');
        $.getJSON("../top20.json", function (json) {

//            for(i=0;i<5;i++) {
//                data=JSON.stringify(json[i]);

//                var p2 = "<p>"+json[i]+"</p>";
//                document.getElementById("p3").insertAdjacentHTML('beforebegin', p2);
            document.getElementById('top').innerHTML = json[0];
//            document.getElementById('1').innerHTML = json[1];
//            document.getElementById('2').innerHTML = json[2];
//            document.getElementById('3').innerHTML = json[3];
//            document.getElementById('4').innerHTML = json[4];
//            document.getElementById('5').innerHTML = json[5];
//            document.getElementById('6').innerHTML = json[6];
//            document.getElementById('7').innerHTML = json[7];
//            document.getElementById('8').innerHTML = json[8];
//            document.getElementById('9').innerHTML = json[9];
//            document.getElementById('10').innerHTML = json[10];
//            document.getElementById('11').innerHTML = json[11];
//            document.getElementById('12').innerHTML = json[12];
//            document.getElementById('13').innerHTML = json[13];
//            document.getElementById('14').innerHTML = json[14];
//            document.getElementById('15').innerHTML = json[15];
//            document.getElementById('16').innerHTML = json[16];
//            document.getElementById('17').innerHTML = json[17];
//            document.getElementById('18').innerHTML = json[18];
//            document.getElementById('19').innerHTML = json[19];


        });
    }

</script>

</body>
</html>